{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head_tag %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="result"></div>
    {% if data.login_session.access_token %}
      <div class="row">      
        <div class="columns small-centered small-11 medium-centered medium-9 large-centered large-9">
            {% if data.item %}
              <!-- update form -->

              <form action="#" method="post" data-add-form>
                <input type="hidden" name="hash_key" value="{{data.login_session.hash_key}}">
                  <input type="hidden" name="id" value="{{data.item.id}}">
                  {% if data.categories %}
                    <select name="category" id="category">
                      {% for category in data.categories %}
                          <option value="{{ category.id }}" 
                                   {% if data.item_cats.id == category.id %} selected="true"{% endif %}>
                              {{ category.name }}
                          </option>
                      {% endfor %}
                    </select>
                  {% endif %}
                  <input type="text" name="title" value="{% if data.item.name %}{{ data.item.name }}{% endif %}">
                  <textarea name="text" maxlength="499">
                      {% if data.item.text %}
                          {{ data.item.text }}
                      {% endif %}
                 </textarea>
                <input type="submit" value="submit">
              </form>
            {% else %}
               <!-- new item form -->

               <form action="#" method="post" data-add-form>
                 <input type="hidden" name="hash_key" value="{{data.login_session.hash_key}}">
                  {% if data.categories %}
                    <select name="category" id="category">
                      {% for category in data.categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                      {% endfor %}
                    </select>
                  {% endif %}
                  <input type="text" name="title">
                  <textarea name="text" maxlength="499"></textarea>
                <input type="submit" value="submit">
              </form>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <a href="/logout">Logout</a>
          <a href="/User/delete">Delete User</a>
        </div>
      </div>
    {% else %}
      <h1>Please Login to Use the System</h1>
      
    {% endif %}
    <script>
      $( document ).ready(function() {
          var $page = $("#content");
          var $form = $page.find("[data-add-form]");

          $form.on("submit", $(this), function(e){
            e.preventDefault();
            var data = $(this).serialize();

            {% if data.item  %}
                $.ajax({
                    url: '{{url_for("update_item")}}',
                    type: 'UPDATE',
                    contentType: "application/x-www-form-urlencoded",
                    data: data,
                    success: function(result) {
                        // Do something with the result
                        $form.html("success! ;)")
                    },
                    fail: function(result){
                      console.log("api fail");
                    }
                });
            {% else %}
                $.ajax({
                    url: '{{url_for("create_item")}}',
                    type: 'POST',
                    contentType: "application/x-www-form-urlencoded",
                    data: data,
                    success: function(result) {
                        // Do something with the result
                        $form.html("success! ;)")
                    },
                    fail: function(result){
                      console.log("api fail");
                    }
                });
            {% endif %}

          });

      });
    </script>
{% endblock %}